
        
        
        <%if (success_msg.length>0) {%>
          <div class="container">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%=success_msg%>
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
            
          </div>
          <% } %>
          <%if (error_msg.length>0) {%>
            
            <div class="container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                 <%=error_msg%>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
           
          </div>

        </div>
          <% } %>

          <%if (error_password.length>0) {%>
            
            <div class="container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                 <%=error_password%>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
           
          </div>

        </div>
          <% } %>

          <%if (signinMessage.length>0) {%>
            
            <div class="container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                 <%=signinMessage%>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
           
          </div>

        </div>
          <% } %>


          <%if (signupMessage.length>0) {%>
            
            <div class="container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                 <%=signupMessage%>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
           
          </div>

        </div>
          <% } %>

         
              
               
            
          
