<%- include('../partials/_heater') %>
<%- include('../partials/Administrador/_heater') %>


<div class="container">
    <h1 class="contenedor text-white">Actualize sus Tareas</h1>
</div>

<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card contenedor bg-primario">
        <div class="card-body">
          <form action="/edit/<%= task._id %>" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="titulo" placeholder="Titulo" value="<%= task.titulo %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="descripcion" placeholder="Descripción " value="<%= task.descripcion %>">
            </div>
            <button class="btn btn-primary" type="submit">
              Actualizar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('../partials/_footer') %>